<script lang="ts">
	export let gitlabLink: string;

	const gotoGitlab = () => {
		window.location.href = gitlabLink;
	};
</script>

<div class="absolute w-10 top-4 right-4">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		viewBox="0 0 380 380"
		class="fill-white hover:fill-emerald-700 cursor-pointer"
		on:click|preventDefault={gotoGitlab}
		on:keypress|preventDefault={gotoGitlab}
		><g id="LOGO"
			><path
				class="cls-1"
				d="M282.83,170.73l-.27-.69-26.14-68.22a6.81,6.81,0,0,0-2.69-3.24,7,7,0,0,0-8,.43,7,7,0,0,0-2.32,3.52l-17.65,54H154.29l-17.65-54A6.86,6.86,0,0,0,134.32,99a7,7,0,0,0-8-.43,6.87,6.87,0,0,0-2.69,3.24L97.44,170l-.26.69a48.54,48.54,0,0,0,16.1,56.1l.09.07.24.17,39.82,29.82,19.7,14.91,12,9.06a8.07,8.07,0,0,0,9.76,0l12-9.06,19.7-14.91,40.06-30,.1-.08A48.56,48.56,0,0,0,282.83,170.73Z"
			/></g
		></svg
	>
</div>
