<script lang="ts">
	import { fly } from "svelte/transition";

	export let link: string;

	let copyBox = false;

	const copyLink = () => {
		navigator.clipboard.writeText(new URL(link).toString());
		copyBox = true;
		setTimeout(() => {
			copyBox = false;
		}, 1500);
	};
</script>

<div class="absolute right-4 top-4">
	<svg
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		version="1.1"
		id="Layer_1"
		x="0px"
		y="0px"
		width="20px"
		height="20px"
		viewBox="0 0 512 512"
		enable-background="new 0 0 512 512"
		class="fill-white hover:fill-emerald-700 cursor-pointer z-10 absolute top-0 right-0"
		on:click|preventDefault={copyLink}
		on:keypress|preventDefault={copyLink}
	>
		<path
			d="M459.654,233.373l-90.531,90.5c-49.969,50-131.031,50-181,0c-7.875-7.844-14.031-16.688-19.438-25.813  l42.063-42.063c2-2.016,4.469-3.172,6.828-4.531c2.906,9.938,7.984,19.344,15.797,27.156c24.953,24.969,65.563,24.938,90.5,0  l90.5-90.5c24.969-24.969,24.969-65.563,0-90.516c-24.938-24.953-65.531-24.953-90.5,0l-32.188,32.219  c-26.109-10.172-54.25-12.906-81.641-8.891l68.578-68.578c50-49.984,131.031-49.984,181.031,0  C509.623,102.342,509.623,183.389,459.654,233.373z M220.326,382.186l-32.203,32.219c-24.953,24.938-65.563,24.938-90.516,0  c-24.953-24.969-24.953-65.563,0-90.531l90.516-90.5c24.969-24.969,65.547-24.969,90.5,0c7.797,7.797,12.875,17.203,15.813,27.125  c2.375-1.375,4.813-2.5,6.813-4.5l42.063-42.047c-5.375-9.156-11.563-17.969-19.438-25.828c-49.969-49.984-131.031-49.984-181.016,0  l-90.5,90.5c-49.984,50-49.984,131.031,0,181.031c49.984,49.969,131.031,49.969,181.016,0l68.594-68.594  C274.561,395.092,246.42,392.342,220.326,382.186z"
		/>
	</svg>
	{#if copyBox}
		<div
			class="absolute -right-2 -top-2.5 p-2 pr-9 bg-emerald-800 rounded-md z-0"
			in:fly={{ duration: 150, x: 50 }}
			out:fly={{ duration: 150, x: -20 }}
		>
			Kopieret!
		</div>
	{/if}
</div>
