<script lang="ts">
	import GitlabLogo from "./lib/GitlabLogo.svelte";
	import Entry from "./lib/Entry.svelte";
	import { onMount } from "svelte";

	const repoName = "specialklassens-ordbog";
	const gitlabLink = `https://gitlab.com/moggelman/${repoName}`;

	const urlParams = new URLSearchParams(window.location.search);
	let filter: string = urlParams.get("filter") ?? "";
	let dict: Element;

	onMount(async () => {
		const res = await fetch(`/ordbog.xml`);
		// TODO skriv en vild parser - men midlertidig løsning:
		const parser = new DOMParser();
		dict = parser
			.parseFromString(await res.text(), "text/xml")
			.getElementsByTagName("dictionary")[0];
	});
</script>

<GitlabLogo {gitlabLink} />

<main class="flex flex-col items-center">
	<h1
		class="text-5xl md:text-6xl text-white text-center md:mt-12 mt-16 mb-4 lg:w-1/2 md:w-2/3 w-11/12"
	>
		<a href="/">Specialklassens Ordbog</a>
	</h1>
	<div class="my-8 lg:w-1/2 md:w-2/3 w-11/12">
		<input
			class="w-full p-4 rounded-md outline-emerald-400 text-2xl"
			type="text"
			name="filter"
			bind:value={filter}
			placeholder="Filter"
		/>
	</div>
	{#if dict}
		{#each [].slice
			.call(dict.getElementsByTagName("entry"))
			.reverse() as entry}
			{#if entry
				.getElementsByTagName("word")[0]
				.textContent.toLowerCase()
				.trim()
				.includes(filter.toLowerCase().trim()) || filter === ""}
				<Entry {entry} />
			{/if}
		{/each}
	{/if}
</main>
